<?xml version = "1.0" encoding = "UTF-8" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="valueListHandler" singleton="true" class="net.mlw.vlh.DefaultValueListHandlerImpl">
    <property name="config.adapters">
      <map>
 
        <!--t_funcalloc-->
        <entry key="funcalloclist">
          <bean class="net.mlw.vlh.adapter.jdbc.dynabean.DefaultDynaBeanAdapter">
            <property name="dataSource"><ref bean="dataSource"/></property>
            <property name="defaultNumberPerPage"><value>30</value></property>
            <property name="defaultSortColumn"><value>id</value></property>
            <property name="defaultSortDirection"><value>asc</value></property>
            <property name="sql">
              <value>
                SELECT a.*
                FROM t_funcalloc a                 
                WHERE 1=1
                /~id: AND a.id = {id} ~/
                /~username: AND a.username LIKE {username} ~/
                /~location: AND a.location LIKE {location} ~/
                /~xgr: AND a.xgr LIKE {xgr} ~/
                /~xgsj: AND a.xgsj LIKE {xgsj} ~/
                /~xgsjks: AND SUBSTR(a.xgsj,1,10) &gt;= {xgsjks} ~/
                /~xgsjjs: AND SUBSTR(a.xgsj,1,10) &lt;= {xgsjjs} ~/
               				  
               /~sortColumn: ORDER BY [sortColumn] [sortDirection]~/
              </value>
            </property>
          </bean>
        </entry>

        <!--t_sysuser-->
        <entry key="sysuserslist">
          <bean class="net.mlw.vlh.adapter.jdbc.dynabean.DefaultDynaBeanAdapter">
            <property name="dataSource"><ref bean="dataSource"/></property>
            <property name="defaultNumberPerPage"><value>30</value></property>
            <property name="defaultSortColumn"><value>username</value></property>
            <property name="defaultSortDirection"><value>asc</value></property>
            <property name="sql">
              <value>
                SELECT a.*,b.dwmc AS sydwmc
                FROM t_sysuser a                
                LEFT JOIN t_sydw b ON b.id = a.pid
                WHERE 1=1 and a.username !='admin'
                /~sydwid: AND a.pid = {sydwid} ~/
                /~username: AND a.username LIKE {username} ~/
                /~name: AND a.name LIKE {name} ~/
                /~sydwmc: AND b.dwmc LIKE {sydwmc} ~/
                /~yhfl: AND a.yhfl LIKE {yhfl} ~/
          		
                /~sortColumn: ORDER BY [sortColumn] [sortDirection]~/
              </value>
            </property>
          </bean>
        </entry>
 <!-- goodslist -->  <entry key="list_goods">
          <bean class="net.mlw.vlh.adapter.jdbc.dynabean.DefaultDynaBeanAdapter">
            <property name="dataSource"><ref bean="dataSource"/></property>
            <property name="defaultNumberPerPage"><value>30</value></property>
            <property name="defaultSortColumn"><value>goodsID</value></property>
            <property name="defaultSortDirection"><value>asc</value></property>
             <property name="sql">
              <value>
              select a.goodsID as goodsID,a.goodname as goodname ,a.rfidID as rfidID ,a.kind as kind,a.spec as spec,a.price as price,a.weight as weight
               from t_goods a
				  where 1=1
		     /~goodname: AND a.goodname LIKE {goodname} ~/
              /~sortColumn: ORDER BY [sortColumn] [sortDirection]~/
              </value>
            </property>
          </bean>
        </entry>       
        
        </map>
    </property>
  </bean>
</beans>
